In [1]:
a = 10 
if a == 11 :
    print("this is my first condition")

In [2]:
a = 10
if a == 10:
    print("my condition is true")

my condition is true

In [5]:
a = 10 
if a > 8:
    print("print this if condition is true ")

print this if condition is true

In [7]:
a = 10
if a >5 :
    pass

In [3]:
a = 10
if a == 11:
    print("my condition is true here")
else :
    print("print this else info ")

print this else info

In [6]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this ")

we are trying to compare 10 with 11

In [7]:
a = 11
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this ")

if all the blocks will fail then do this

In [ ]:
input()

In [ ]:
int(input())

In [8]:
a = int(input("please enter the value of a"))

please enter the value of a 30

In [ ]:
write a python code, 

ask the user to enter their input int value, and check if the given number is 100,
print, you given the number of 100
else print you are not giving the number of 100

In [20]:
num = int(input("please enter the value"))
if num == 123:
    print("you given the number of 123")
else:
    print("you are not giving the number of 100")

please enter the value 123

you given the number of 123

In [26]:
price = float(input("please enter the price value"))

if price > 500 : 
    print("may b i wont be able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")
else :
    print("i dont know")

please enter the price value 99

i will be able to buy a jacket

In [27]:
l = [1,2,3,4,5,6]

2 in l

True

In [28]:
if 2 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

try to perform a task

In [ ]:
whether in this list, 10 is there or not
if it is there, print 10 is there in my list
else print 10 is not there in my list

In [29]:
l = [1,2,3,4,10]

In [30]:
if 10 in l:
    print("10 is there in my list")
else:
    print("10 is not there in my list")

10 is there in my list

In [31]:
l

[1, 2, 3, 4, 10]

In [32]:
if 10 in l :
    print("try to do an addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do an addition
this is new statement

In [33]:
l

[1, 2, 3, 4, 10]

In [34]:
if 20 in l :
    print("try to do an addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [37]:
l

[1, 2, 3, 4, 10]

In [35]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
else:
    print("this is new statement")

try to do a addition

In [ ]:
a = 400

In [33]:
b = input()

 123

In [41]:
b = int(input("please enter the value of integer: "))

please enter the value of integer:  789

In [43]:
type(b)

int

In [36]:
price  = float(input("please enter the price : "))
if price <500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do something")
    else :
        print("i wont be able to buy anything")
else:
     print("i wont be able to buy anything with this price tag")
     if price >500:
        print("lets try someting else ")

please enter the price :  200

i will be able to buy something
i will be able to buy a jacket

In [42]:
price  = float(input("please enter the price : "))
if price >500 :
    print("i will be able to buy something")    
elif price < 400 :
    print("i will be able to buy a jacket")
elif price < 300 :
    print("i will be able to buy a shirt")
if price < 200 :
    print("i would like to do something")
else:
     print("i wont be able to buy anything with this price tag")

please enter the price :  200

i will be able to buy a jacket
i wont be able to buy anything with this price tag

In [44]:
marks = int(input("please enter the marks: "))
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("You got GRE congratulations")

please enter the marks:  400

NO GRE
TOFEL

In [ ]:
val  = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

In [ ]:
a = 10
if a <10  and a == 10 :
    print("try to do someting ")

In [ ]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh ")

In [ ]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

In [ ]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [ ]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

In [ ]:
d['key1']

In [ ]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [ ]:
l[0]

In [ ]:
l[1]

In [ ]:
l[2:5]

In [ ]:
l

In [ ]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

In [ ]:
l

In [1]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end=' ')

9 8 7 6 5 4 3 2 10

In [2]:
l

NameError: name 'l' is not defined

In [ ]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [ ]:
l1

In [ ]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
        print(a+str(1))
    elif type(a)==float:
        print(a+float(1))

In [ ]:
for i in l:
    if type(i)==int  or type(i) == float:
        print(i+1)
    elif type(i)== str:    
        print(i+ str(1))

In [ ]:
for i in l :
    if type(i) ==  int or type(i) == float :
        print(i+1) 
    elif type(i) == str:
        print(i + str(1))

In [ ]:
l = [1,2,3,4,5 ,"car",5,6,7]

for i in l:
    if i.isnumeric():
        print(i)

In [ ]:
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values are verified")
    print(d.value())

In [ ]:
l = [1,2,3,4,5465,67,"sudh"]

In [ ]:
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

In [3]:
a = 10 
if a < 8 :
    print("print this if condition is true")

In [ ]:
marks =int(input())
if marks  > 600:
    print("Able to clear GRE ")
elif marks < 600:
        print("No Gre")
elif marks <500:
    pass

In [ ]:
val = float(input("enter a floating number"))
if val>=0:
    if val== 0:
        print("entered number is zero")
    else:
        print("value is a positive number")
else :
    print("value is a negative number")

In [ ]:

type(a) == int

In [ ]:
a

In [ ]:
type(a) is int

In [ ]:
l = [0,0,0,0,0,0,0,1324,0,0,0,0,0]

for i in l:
    if i > 0 :
        print("We have an active alarm Number:",i)         
else:
    print ("No alarm")

In [ ]:
l=[1,2,3,4,5,"sudh",234.45]

a=0
l1=[]
for i in l:
    if type(i) == int:
          l1 = l1 + [i]
        #l1.append(i)
print(l1)

In [ ]:
l1

In [ ]:
#3. Write a Python program to display calendar?

import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))
        
#Doubt: Can i change the layout of the o/p?for example, 3 months in a row